<body>
<h1> Edit Magazine Information Here</h1>
<form method="post" action="/articles/<%= @article.id %>">
<p>Title: <input type="text" name="title" value='<%= @article.title %>'></p>
<p>Content: <textarea name="content" rows="10" cols="30"><%= @article.content %></textarea></p>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="submit" value="submit">
</form>
</body>